*.aux
*.dvi
*.d
*.make
*.doc
*.ps
*.toc
*.log
*.fls
*.temp
*.pdf
*.bbl
*.blg
*~
.*.swp
statikus-struktura-diagram.eps
kozpont-indulasa.eps
eszkoz-engedelyezese.eps
explicit-lekerdezes-terminalrol.eps
szenzor-regisztracioja.eps
terminal-regisztracioja.eps
uzenetkuldes-szenzorrol-redundans-eset.eps
uzenetkuldes-szenzorrol.eps
